.nav--title {
    font-weight: 800;
    line-height: 1em;
    letter-spacing: -0.075em;
  }

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em 0;
    color: white;
    background-color: var(--clr-accent);
    gap: 0.5em;
  }



@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");


:root {
  --clr-accent: orange;
  --ff-main: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text-main: black;
    --clr-text-light: black;

    --clr-background-light: #ffffff;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-main: white;
    --clr-text-light: white;

    --clr-background-light: black;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
  width: 100%;
}



html {
  font-family: var(--ff-main);
  margin: 0;
  padding: 0;
  background-color: var(--clr-background-light);
}


.bold {
  font-weight: bold;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em 0.5em;
  color: var(--clr-background-light);
  background-color: var(--clr-accent);
  gap: 0.5em;
}

.nav--link-home {
  text-decoration: none;
  color: inherit;
}
.nav--title {
  font-weight: 800;
  line-height: 2em;
  letter-spacing: -0.05em;
  color: white;
}
.nav--logo {
  height: 2em;
  color: white;
}


.cards-list {
  display: flex;
  flex-direction: column;
  padding: 4rem 3em;
}

.card {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.card--img {
  height: 100%;

  width: 30emem;
  border-radius: 5rem;
  

  transform: scale(1);
  transition: all 100ms ease-in-out;
}

.card--img:hover {
  transform: scale(1.03);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);

}

.card--infos {
  margin-left: 1em;
  padding: 0.5em;
}

.card--location-icon {
  color: var(--clr-accent);
}

.card--location {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: var(--clr-text-main);
}

.card--location-url {
  color: var(--clr-text-light);
  font-size: 0.75rem;
}

.card--title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.card--date {
  font-weight: 700;
}

.card--description {
  max-width: 50rem;
  margin-top: 2em;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}


.cards-list > .card + .card {
  padding: 2em 0;
  border-top: 1px solid var(--clr-text-light);
}

